.fourth {
    background-color: skyblue;
    text-align: center;
  }
  .fourth .title, .fourth .source{
    background-color: darkturquoise;
    color: whitesmoke;
  }
  .fourth hr{
    border: 1px solid black;
  }

  .Hello{
    color: black;
    background-color: rgb(0, 244, 248);
  }

  .fourth .props-state{
      background-color: #1E1E1E;
      display: flex;
  }

  .props-state div{
      color: skyblue;
      flex: 1;
  }
  
  .props-state img{
      width: 500px;
      height: 300px;
      margin: 4px 0;
      border-radius: 10px;
      border: 1px double skyblue;
      padding: 5px;
  }
  button{
    min-width: 30px;
  }