.first {
    background-color: skyblue;
    text-align: center;
  }
  .first .title, .first .source{
    background-color: darkturquoise;
    color: white;
  }
  .first hr{
    border: 1px solid black;
  }