.third {
    background-color: skyblue;
    text-align: center;
  }
  .third .title, .third .source{
    background-color: darkturquoise;
    color: whitesmoke;
  }
  .third hr{
    border: 1px solid black;
  }

  .Hello{
    color: black;
    background-color: rgb(0, 244, 248);
  }

  .third .function-vs-class{
      background-color: #1E1E1E;
      display: flex;
  }

  .function-vs-class div{
      color: skyblue;
      flex: 1;
  }
  
  .function-vs-class img{
      width: 500px;
      height: 300px;
      margin: 4px 0;
      border-radius: 10px;
      border: 1px double skyblue;
      padding: 5px;
  }